n8n-workflows/wan-2-5-imagen-a-video.json
{
  "name": "Wan 2.5 La Tribu Divisual",
  "nodes": [
    {
      "parameters": {
        "content": "## 🤖 Wan 2.5 Img -> Video\n\n## ¿Cómo funciona?\n### - Trigger dentro de Airtable\n### - Pasan todos los parámetros a Kie.ai\n### - El vídeo se genera\n### - El vídeo se sube a Airtable\n\n## Recursos\n### - [Airtable Template](https://airtable.com/invite/l?inviteId=invwQ78not1YNVEEn&inviteToken=b61816486338ae8a4633b1dc13e006a8a4e44143d5a106b0bf2f09cf57e66e8f&utm_medium=email&utm_source=product_team&utm_content=transactional-alerts) (Copia la base)\n### - [Wan 2.5](https://kie.ai/wan-2-5)\n\n## APIs Requeridas\n### - [Airtable](https://docs.n8n.io/integrations/builtin/credentials/airtable/?utm_source=n8n_app&utm_medium=credential_settings&utm_campaign=create_new_credentials_modal)\n### - [Kie.ai](https://kie.ai/api-key)\n\n\n\n## Coste por vídeo\n### 480p:  $0.05 / sec\n### 720p:  $0.06 / sec\n### 1080p: $0.10 / sec\n\n\n**Hecho con ❤️ por [Juan Pe Navarro](https://www.youtube.com/@juanpe.divisual)**",
        "height": 720,
        "width": 688,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        -912
      ],
      "id": "37abb369-520a-42c7-93e1-f5a93e886f81",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 768,
        "width": 752,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -928
      ],
      "id": "6d7b0e99-fad1-4208-a424-e89b70079364",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "url": "=https://api.kie.ai/api/v1/jobs/recordInfo?taskId={{ $json.data.taskId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        0
      ],
      "id": "99d8302c-a68c-43ec-9dfb-df340e932683",
      "name": "Get Videos",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REEMPLAZA_CON_TU_CREDENCIAL",
          "name": "PENDIENTE — el export original no traía credencial aquí; asigna la misma de Kie.ai que en \"Create Video Request\""
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appwtILummdsNptsI",
          "mode": "list",
          "cachedResultName": "Wan 2.5 Automation",
          "cachedResultUrl": "https://airtable.com/appwtILummdsNptsI"
        },
        "table": {
          "__rl": true,
          "value": "tblG0fdNhtUY6osqd",
          "mode": "list",
          "cachedResultName": "Wan 2.5 Videos",
          "cachedResultUrl": "https://airtable.com/appwtILummdsNptsI/tblG0fdNhtUY6osqd"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $('Get Data').item.json.Title }}",
            "Video Link": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
            "Status": "Completed"
          },
          "matchingColumns": [
            "Title"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Frame",
              "displayName": "First Frame",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Video Prompt",
              "displayName": "Video Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "5",
                  "value": "5"
                },
                {
                  "name": "10",
                  "value": "10"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Resolution",
              "displayName": "Resolution",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "480p",
                  "value": "480p"
                },
                {
                  "name": "720p",
                  "value": "720p"
                },
                {
                  "name": "1080p",
                  "value": "1080p"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Optimize Prompt",
              "displayName": "Optimize Prompt",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "false",
                  "value": "false"
                },
                {
                  "name": "true",
                  "value": "true"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Standby",
                  "value": "Standby"
                },
                {
                  "name": "4k Standby",
                  "value": "4k Standby"
                },
                {
                  "name": "Completed",
                  "value": "Completed"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Create Video",
              "displayName": "Create Video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Video Link",
              "displayName": "Video Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1568,
        -16
      ],
      "id": "9b145e9a-1ed2-42fc-9b1f-d958ddcb6eff",
      "name": "Update record"
    },
    {
      "parameters": {
        "content": "# Wan 2.5 de imagen a vídeo",
        "height": 496,
        "width": 2080,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -208,
        -80
      ],
      "id": "415c8d66-c644-4a85-9635-e52adfb198dd",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "path": "06d2ed4d-c335-4b1e-8278-530528f01926",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "60c3f93a-295c-4ec2-8ffb-51dcdefeac52",
      "name": "Airtable Webhook",
      "webhookId": "06d2ed4d-c335-4b1e-8278-530528f01926"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appwtILummdsNptsI",
          "mode": "list",
          "cachedResultName": "Wan 2.5 Automation",
          "cachedResultUrl": "https://airtable.com/appwtILummdsNptsI"
        },
        "table": {
          "__rl": true,
          "value": "tblG0fdNhtUY6osqd",
          "mode": "list",
          "cachedResultName": "Wan 2.5 Videos",
          "cachedResultUrl": "https://airtable.com/appwtILummdsNptsI/tblG0fdNhtUY6osqd"
        },
        "filterByFormula": "{Status} = \"Standby\"",
        "options": {
          "fields": [
            "First Frame",
            "Video Prompt",
            "Title",
            "Status",
            "Duration",
            "Resolution",
            "Optimize Prompt"
          ]
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        320,
        0
      ],
      "id": "3cb36174-9c13-4ded-8591-2f6f1e09ea3b",
      "name": "Get Data",
      "credentials": {
        "airtableTokenApi": {
          "id": "REEMPLAZA_CON_TU_CREDENCIAL",
          "name": "PENDIENTE — crea tu propio Airtable Personal Access Token en n8n y selecciónalo aquí"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"wan/2-5-image-to-video\",\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($json['Video Prompt']) }},\n    \"image_url\": \"{{ $json['First Frame'][0].thumbnails.full.url }}\",\n    \"duration\": \"{{ $json.Duration }}\",\n    \"resolution\": \"{{ $json.Resolution }}\",\n    \"enable_prompt_expansion\": {{ $json['Optimize Prompt'] }}\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        0
      ],
      "id": "67023e71-1303-4255-b80a-dcd211815ac3",
      "name": "Create Video Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "REEMPLAZA_CON_TU_CREDENCIAL",
          "name": "PENDIENTE — crea credencial Header Auth con tu API key de Kie.ai (header: Authorization, valor: Bearer TU_KEY) y selecciónala aquí"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e66e3c3e-bb38-4b42-8aa4-336d0a2e78d6",
              "leftValue": "={{ $json.data.state }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1232,
        0
      ],
      "id": "eec03239-c6e5-49d8-b882-3fb6fd50d358",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1472,
        128
      ],
      "id": "8a339909-0724-44d0-962e-74c287ac6585",
      "name": "Wait",
      "webhookId": "6fd10346-a72f-47c4-81cd-1b4841b3df96"
    },
    {
      "parameters": {
        "content": "@[youtube](O_ctp6TnWow)",
        "height": 928,
        "width": 992
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        -1088
      ],
      "id": "a2dc81eb-f91f-4667-939c-904e20661c66",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# 🚀 La Tribu Divisual\n\n## Este sistema tiene un valor en el mercado de **$500.**\n\n\n## Accede a **La Tribu Divisual** para aprender a crear agentes más avanzados y a generar altos ingresos con ellos de forma real y segura.\n\n# 👉 [Click aquí para unirte a la Lista de espera](https://divisualproject.academy/)\n",
        "height": 360,
        "width": 952,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        -528
      ],
      "id": "e6dd8a2e-39f1-4ae6-ab47-fdf9f849a5f5",
      "name": "Sticky Note10"
    }
  ],
  "pinData": {},
  "connections": {
    "Get Videos": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Webhook": {
      "main": [
        [
          {
            "node": "Get Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data": {
      "main": [
        [
          {
            "node": "Create Video Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video Request": {
      "main": [
        [
          {
            "node": "Get Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5d726604-2d11-4e09-b450-a848fb79e899",
  "meta": {
    "instanceId": "2723e5c0cdf73e609a9d6131a4145b2656ca7463c71fa761a441dc255964ffd8"
  },
  "id": "Rh6YvgrVyC63LtYe",
  "tags": []
}
